<strong>Olá, {{ studentName }}, sinta-se em casa!</strong>
<br />
<p> Sua matrícula foi confirmada, confira os detalhes do seu plano:</p>
<p>
  <strong>Aluno: </strong> {{ studentName }} <br />
  <strong>Data de matrícula: </strong> {{ enrollStartDate }} <br />
  <br />
  <strong>Plano escolhido: </strong> {{ planTitle }} <br />
  <strong>Duração: </strong> {{ planLength }} meses <br />
  <strong>Data de encerramento: </strong> {{ enrollEndDate }} <br />
  <strong>Valor Mensal: </strong> R$ {{ planPrice }},00 <br />
  <strong>Valor total: </strong> R$ {{ enrollPrice }},00 <br />
  <br />
  <strong><h2>Seja bem-vindo!</h2></strong>
</p>
